USE ToolsStore
GO

IF DB_NAME() <> N'ToolsStore' SET NOEXEC ON
GO

--
-- Change transaction localization level (Изменить уровень локализации транзакции)
--
SET TRANSACTION ISOLATION LEVEL SERIALIZABLE
GO

--
-- begin transaction
--
BEGIN TRANSACTION
GO

--
-- drop index
--
DROP INDEX AK_CT_VAT ON CT_VAT
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- drop columns
--
ALTER TABLE dbo.CT_VAT 
  DROP COLUMN Vat;
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

ALTER TABLE dbo.CT_VAT 
  DROP COLUMN Name;  
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

ALTER TABLE dbo.CT_VAT 
  DROP COLUMN Rem;
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

ALTER TABLE dbo.CT_VAT 
  DROP COLUMN DateLoad;
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- add columns
--
ALTER TABLE dbo.CT_VAT 
  ADD Code INT NULL;
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

ALTER TABLE dbo.CT_VAT 
  ADD Name NVARCHAR(100) NULL;
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

ALTER TABLE dbo.CT_VAT 
  ADD Rem BIT NULL;
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

ALTER TABLE dbo.CT_VAT 
  ADD DateLoad DATETIME NULL;
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- update ct_vat
--
UPDATE dbo.CT_VAT
SET Code = 0,
	Name = '0%',
	Rem = 0,
	DateLoad = CAST('2018-08-29 00:29:18.390' as datetime)
WHERE VatId = 1;
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

UPDATE dbo.CT_VAT
SET Code = 10,
	Name = '10%',
	Rem = 0,
	DateLoad = CAST('2018-08-29 00:29:18.390' as datetime)
WHERE VatId = 2;
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

UPDATE dbo.CT_VAT
SET Code = 18,
	Name = '18%',
	Rem = 0,
	DateLoad = CAST('2018-08-29 00:29:18.390' as datetime)
WHERE VatId = 3;
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Inserting data into the dbo.CT_VAT table
--
SET IDENTITY_INSERT dbo.CT_VAT ON
GO

IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
INSERT dbo.CT_VAT(VatId, Code, Name, Rem, DateLoad) VALUES (4, 20, N'20%', 0, '2018-08-30 20:49:19.560')
GO
SET IDENTITY_INSERT dbo.CT_VAT OFF
GO

IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END

--
-- set identity value for dbo.ct_vat
--
DBCC CHECKIDENT('dbo.CT_VAT', RESEED, 4)
GO

IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END

--
-- alter columns
--
ALTER TABLE dbo.CT_VAT ALTER COLUMN Code INT NOT NULL;  
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

ALTER TABLE dbo.CT_VAT ALTER COLUMN Name NVARCHAR(100) NOT NULL; 
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO  

ALTER TABLE dbo.CT_VAT ALTER COLUMN Rem BIT NOT NULL;  
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO  

--
-- index ak_ct_vat
--
CREATE UNIQUE INDEX AK_CT_VAT
  ON dbo.CT_VAT (Code)
  ON [PRIMARY]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- procedure sp_im_vat
--
ALTER PROCEDURE dbo.SP_IM_VAT
	@code     int,
	@name     nvarchar(100),
	@rem      bit = null
AS
BEGIN
	DECLARE @tempMessage NVARCHAR(MAX) = NULL

	IF (@code IS NULL)
	BEGIN
		SET @tempMessage = 'Код - пустое значение'
		RAISERROR (@tempMessage , 16, 1) 
		RETURN(0)
	END

	MERGE dbo.CT_VAT AS target
	USING (SELECT @code, @name, @rem, getdate()) AS source (Code, Name, Rem, DateLoad)
	ON (target.Code = source.Code)
	WHEN MATCHED THEN
		UPDATE SET Name       = source.Name,
				   Rem        = source.Rem,
				   DateLoad   = source.DateLoad
	WHEN NOT MATCHED THEN
		INSERT (Code, Name, Rem, DateLoad)
		VALUES (source.Code, source.Name, source.Rem, source.DateLoad);

END
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO


--
-- commit transaction
--
IF @@TRANCOUNT>0 COMMIT TRANSACTION
GO

--
-- set noexec to off (Установить NOEXEC в состояние off)
--
SET NOEXEC OFF
GO