@model ToolsStore.Domain.Entities.MT_LOAD_RULE

@{
    ViewBag.Title = "Редактирование правил загрузки" + @Model.Code;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Редактирование @Model.Code</h2>

@using (Html.BeginForm("RuleEdit", "Rule"))
{
    @Html.EditorForModel()
    <input type="submit" value="Сохранить" />
    @Html.ActionLink("Отменить и вернуться к списку", "Rules")
}