USE ToolsStore;
GO

PRINT '<<< DROP INDEX AK_CT_BRAND >>>'
GO
DROP INDEX AK_CT_BRAND ON dbo.CT_BRAND
GO

PRINT '<<< ALTER COLUMN CODE TABLE CT_BRAND >>>'
GO
ALTER TABLE dbo.CT_BRAND ALTER COLUMN Code nvarchar(100) NOT NULL;
GO

PRINT '<<< CREATE INDEX AK_CT_BRAND >>>'
GO
CREATE UNIQUE NONCLUSTERED INDEX AK_CT_BRAND ON dbo.CT_BRAND (Code)
GO

PRINT '<<< TABLE: SK_EQUIPMENT >>>'
GO
CREATE TABLE dbo.SK_EQUIPMENT(
    EquipmentId bigint           IDENTITY(1,1),
	CategoryId  bigint           NULL,
    Code        nvarchar(50)     NOT NULL,
    Name        nvarchar(500)    NOT NULL,
    NameExtra   nvarchar(500)    NULL,
	Ord         int              NULL,
    CONSTRAINT PK_SK_EQUIPMENT PRIMARY KEY CLUSTERED (EquipmentId)
)
GO

PRINT '<<< INDEX AK_SK_EQUIPMENT >>>'
GO
CREATE UNIQUE INDEX AK_SK_EQUIPMENT ON SK_EQUIPMENT(Code)
GO

PRINT '<<< FK_SK_EQUIPMENT_CT_CATEGORY >>>'
GO
ALTER TABLE dbo.SK_EQUIPMENT WITH CHECK ADD CONSTRAINT FK_SK_EQUIPMENT_CT_CATEGORY FOREIGN KEY (CategoryId)
    REFERENCES dbo.CT_CATEGORY(CategoryId)
go

ALTER TABLE dbo.SK_EQUIPMENT CHECK CONSTRAINT FK_SK_EQUIPMENT_CT_CATEGORY
GO

PRINT '<<< ADD INDEX FK_SK_EQUIPMENT_CT_CATEGORY >>>'
GO
CREATE INDEX FK_SK_EQUIPMENT_CT_CATEGORY ON dbo.SK_EQUIPMENT(CategoryId)
GO