<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <connectionStrings>
      <add name="ToolsStoreConnectionString" connectionString="Data Source=EUGENE_D\SQL2012X64;Initial Catalog=ToolsStore;User ID=sa;Password=Qwerty123" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <appSettings>
      <add key="encodingXml" value="UTF-8" />
      <add key="timeInterval" value="10" />
      <add key="signGradation" value="true" />
      <add key="cultureName" value="en-US" />
      <add key="ClientSettingsProvider.ServiceUri" value="" />
    </appSettings>
    <system.web>
      <membership defaultProvider="ClientAuthenticationMembershipProvider">
        <providers>
          <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
        </providers>
      </membership>
      <roleManager defaultProvider="ClientRoleProvider" enabled="true">
        <providers>
          <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
        </providers>
      </roleManager>
    </system.web>  
</configuration>