@model ToolsStore.Domain.Entities.MT_LOAD_RULE

@{
    ViewBag.Title = "Администрирование: редактирование " + @Model.Code;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Редактирование @Model.Code</h2>

@using (Html.BeginForm("Edit", "Admin"))
{
    @Html.EditorForModel()
    <input type="submit" value="Сохранить" />
    @Html.ActionLink("Отменить и вернуться в список", "Index")
}

